body,ul,ol,dl,dt,dd,p,span,h1,h2,h3,h4,h5,h6,input,
button {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
    font-weight: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    background: none;
    outline: none;
}

input,
textarea {
    border: none;
    outline: none;
    resize: none;
}

img {
    border: none;
    vertical-align: top;
    max-width: 100%;
}

em {
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/****************头部 导航*****************/
.in-nav {
    width: 100%;
}

.in-nav .n-top {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
    background: #f9f9f9;
}

.in-nav .n-top a {
    padding: 0 6px;
    color: #788086;
}

.inWrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.in-nav .t-phone span, .in-nav .t-phone div {
    float: left;
}

.in-nav .num {
    padding-left: 18px;
    color: #a5a5a5;
    background: url('../img/header/top-phone-bg.jpg') no-repeat left center;
}

.in-nav .t-phone .line {
    margin: 0 10px;
    color: #e6e6e6;
}

.in-nav .ico {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 2px 6px 0 0;
    color: #474b4f;
    cursor: pointer;
    border: 1px solid #f9f9f9;
}

.in-nav .ico .cont {
    display: none;
    position: absolute;
    top: 29px;
    left: -1px;
    z-index: 20;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 22px;
    background: #fff;
}

.in-nav .ico>span {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    width: 28px;
    height: 30px;
    background: url(../img/header/top-ico.png) no-repeat;
}

.in-nav .weixin .cont {
    width: 300px;
    padding-bottom: 8px;
}

.in-nav .weixin dt {
    line-height: 50px;
    font-size: 12px;
}

.in-nav .weixin dd {
    float: left;
    display: inline;
    width: 50%;
}

.in-nav .weibo span {
    background-position: 0 -28px;
}

.in-nav .weibo .cont {
    width: 154px;
    padding: 12px 0 10px;
}

.in-nav .weibo .cont a {
    color: #3383e4;
}

.in-nav .t-login {
    text-align: right;
}

.in-nav .login-a {
    position: relative;
    padding: 2px 5px;
    border-radius: 4px;
    color: #fff;
    background: #ff4040;
}

.in-nav .login-a b {
    position: absolute;
    top: 50%;
    right: -8px;
    margin-top: -4px;
    border: 4px solid transparent;
    border-left-color: #ff4040;
}

.in-nav .n-top .registered a {
    color: #ff4040;
}

.in-nav .sub-phone span {
    background-position: 0 -56px;
}

.in-nav .sub-phone .cont {
    width: 164px;
    padding: 12px 0;
}

.in-nav .sub-phone .cont p {
    margin-bottom: 15px;
}

.in-nav .ico .cont img {
    display: inline;
}





.in-nav .n-bottom {
    height: 85px;
    background: #fff;
}

.in-nav .in-link {
    float: left;
    height: 42px;
    overflow: hidden;
    margin-top: 22px;
}

.in-nav .in-link img {
    max-width: none;
}

.in-nav .nav {
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 10;
}

.in-nav .nav li {
    position: relative;
    float: left;
    margin-left: 8px;
    background: #fff;
}

.in-nav .nav .home-page {
    width: 110px;
    text-align: left;
    margin-left: 0;
}

.in-nav .nav .my-account {
    width: 90px;
    text-align: right;
}

.in-nav .nav .link-box {
    line-height: 35px;
    width: 118px;
    border: 1px solid #fff;
    font-size: 16px;
}

.in-nav .nav li a {
    display: block;
    text-align: center;
    color: #474e5d;
}

.in-nav .nav .link-a {
    width: 118px;
    line-height: 35px;
    font-size: 16px;
}

.in-nav .nav .link-on {
    border-radius: 5px;
    color: #fff;
    background: #c89a49;
}

.in-nav .nav .home-page a {
    width: 75px;
}

.in-nav .nav .sub-menu {
    display: none;
    position: absolute;
    top: 35px;
    z-index: 30;
    padding-top: 18px;
    border: 1px solid #fff;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}

.in-nav .nav div.on {
    border-color: #e6e6e6;
    box-shadow: 0 0 10px #e6e6e6;
}

.in-nav .nav .sub-menu a {
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 20px;
}

.in-nav .nav .security {
    width: 270px;
    padding-bottom: 20px;
    left: 0;
}

.in-nav .nav .security span {
    float: left;
    width: 118px;
    text-align: center;
}

.in-nav .nav .security .span-a {
    border-right: 1px solid #e6e6e6;
}

.in-nav .nav .security .span-a a {
    text-align: left;
    text-indent: 20px;
}

.in-nav .nav .security .last {
    margin-bottom: 0;
}

.in-nav .nav .security .span-b a {
    width: 123px;
    padding-left: 25px;
    text-align: left;
}

.in-nav .nav .content-us .span-c a {
    padding-right: 28px;
    text-align: right;
}

.in-nav .nav .security .last {
    margin-bottom: 0;
}

.in-nav .nav .content-us {
    width: 358px;
    padding-bottom: 20px;
    left: -118px;
}

.in-nav .nav .content-us span {
    float: left;
    width: 118px;
    text-align: center;
}

.in-nav .nav .content-us .span-a a {
    text-align: left;
    text-indent: 20px;
}

.in-nav .nav .content-us .last {
    margin-bottom: 0;
}

.in-nav .nav .content-us .span-b {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.in-nav .nav .my-account a {
    color: #c89a49;
}

.in-nav .nav .menu-box b {
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url(../img/header/d-arrows.png) no-repeat 0 -8px;
    margin-left: 9px;
    vertical-align: middle;
}




.clearfix:before,.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clearfix {
    zoom: 1;
}

