<div class="FooterBar2">
    <div class="grid-container">
        <div class="grid-100">
            <ul class="clearfix">
                <li><a href="/Content/List.aspx?TypeId=4">新手帮助</a></li>
                <li><a href="/Content/List.aspx?TypeId=5">常见问题</a></li>
                <li><a href="/Content/Privacy.aspx">隐私保护</a></li>
                <li><a href="/Content/Contact.aspx">联系我们</a></li>
                <li><a href="/Content/Law.aspx">法律法规</a></li>
            </ul>
        </div>
        <div class="grid-100 copyright">
            <ul>
                <li class="last">上海中金国泰金融信息服务有限公司&nbsp;&nbsp;沪ICP备14043140号&nbsp;&nbsp;版权所有</li>
            </ul>
        </div>
    </div>
</div>
<!--<script type="text/javascript" src="/js/tj_statistics.js?v=16071331"></script>-->
</body>

</html>