<!DOCTYPE html>

<html>

<head id="Head1">
  <title>
    中金国泰理财网，安全透明的网络理财、网络投资、投资理财平台
  </title>
  <meta name="Keywords" content="中金国泰理财网，网络理财，投资理财" />
  <meta name="Description" content="中金国泰理财网（www.zjgt.com）是国家工信部金融研究院长单位,中国领先的互联网金融 服务平台,为投资理财用户和贷款用户提供安全、透明的互联网金融服务,投资理财用户可以通过中金国泰理财网平台进行投标、加入投资项目、购买债权等方式进行投资获得高收益,贷款用户可以通过平台申请企业贷、商户贷、车贷、网商贷、网贷、物业贷等小额贷款。" />
  <meta name="sogou_site_verification" content="B4ffKbuhWL" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <script type="text/javascript" src="/www/static/js/jquery-1.11.3.min.js?v=16041958"></script>
  <script type="text/javascript" src="/www/static/js/jquery.cookie.js?v=16041958"></script>
  <script type="text/javascript" src="/www/static/js/modernizr.js?v=16041958"></script>
  <script type="text/javascript" src="/www/static/js/layer/layer.js?v=16082949"></script>
  <script type="text/javascript" src="/www/static/js/header.js?v=16062727"></script>
  <script type="text/javascript" src="/www/static/js/indexMerge.js?v=16041958"></script>
  <script type="text/javascript" src="/www/static/js/common.js?v=16062727"></script>
  <link rel="stylesheet" type="text/css" href="/www/static/css/indexMerge.css?v=17022008" />
  <noscript>
    <link rel="stylesheet" type="text/css" href="/www/static/css/unsemantic-grid-mobile.css" />
  </noscript>
</head>

<body class="loading">
  <!-- 顶部导航 -->
  <div class="in-nav">
    <div class="n-top">
      <div class="inWrap clearfix">
        <div class="t-phone fl">
          <span class="num">客服热线: (021)80164139</span>
          <span class="line">|</span>
          <div class="weixin ico">
            <span></span>
            <dl class="cont">
              <dt>扫码关注中金国泰微信号</dt>
              <dd>
                <img src="/www/static/img/index2/qr-ser.jpg" />
                <p>服务号：zjgtcom</p>
              </dd>
              <dd>
                <img src="/www/static/img/index2/qr-sub.jpg" />
                <p>订阅号：zjgtlczx</p>
              </dd>
            </dl>
          </div>
          <div class="weibo ico">
            <span></span>
            <div class="cont">
              <p>点击关注中金国泰微博</p>
              <a href="http://weibo.com/zjgtcom?is_hot=1" target="_blank">@中金国泰</a>
            </div>
          </div>
          <div class="sub-phone ico">
            <span></span>
            <div class="cont">
              <p>手机扫一扫</p>
              <img src="/www/static/img/index2/qrcode.jpg" />
            </div>
          </div>
        </div>
        <div class="t-login fr">
          {% if userName != '' %}
          <!--登陆后-->
          <a href="/Account/FundDetails.aspx" id="userName" class="login-successful">你好，{{userName}}</a>
          <span class="login-successful"><a href="/index/logout" id="TuiChu" class="logout">[退出]</a></span> {% else %}
          <!--登陆前-->
          <span class="login-a">送50<b></b></span>
          <span class="registered"><a href="/index/register">免费注册</a></span>
          <span class="line">|</span>
          <span><a href="/index/login">登录</a></span> {% endif %}
          <span class="line">|</span>
          <span><a href="/Account/jxb/activationUser.aspx">激活金薪宝</a></span>
          <span class="line">|</span>
          <span><a href="/Content/List.aspx?TypeId=5">帮助中心</a></span>
          <span class="line">|</span>
          <span><a class="last" href="/EnterpriseAccountLogin.aspx">企业登录</a></span>
        </div>
      </div>
    </div>
    <div class="n-bottom">
      <div class="inWrap clearfix">
        <div class="logo fl">
          <a class="in-link" href="/Index.aspx"><img src="/www/static/img/index2/logo.jpg" alt="中金国泰，安全透明的理财平台" /></a>
        </div>
        <ul class="nav fr">
          <li class="home-page"><a class="link-a link-on" href="/">首页</a></li>
          <li class="menu-box">
            <div class="link-box">
              <a class="link-a" href="/invest/list">我要投资<b></b></a>
            </div>
            <div class="sub-menu on">
              <a href="/invest/list">定期 · 投资表</a>

              <a id="WTProjTitle" class="color-gray" href="/Event/22BidNewCustomerDetail.aspx?Id=1818">体验 · 新手标</a>

              <a id="hlJQBProj" class="color-gray" href="/Event/Wallet_Details.aspx?Id=2029">活期 · 金钱包</a>
            </div>
          </li>
          <li class="menu-box">
            <div class="link-box">
              <a class="link-a" href="/Event/collection.aspx">活动专区<b></b></a>
            </div>
            <div class="sub-menu on">
              <a href="/Event/collection.aspx?type=online">线上活动</a>
              <a href="/Event/HdOpenDayIndex.aspx">开放日</a>
              <a href="/Event/HdSendGoldPigIndex.aspx">送金猪</a>
            </div>
          </li>
          <li class="menu-box">
            <div class="link-box">
              <a class="link-a" href="javascript:void(0);">安全保障<b></b></a>
            </div>
            <div class="security sub-menu on clearfix">
              <span class="span-a">
                                <a href="/Content/capital.aspx">一亿验资</a>
                                <a href="/Content/Safety.aspx">存款保障</a>
                                <a href="/Content/p2peye.aspx">网贷天眼</a>
                                <!--<a href="/Event/SunshineInsuranceInvest.aspx">阳光保险</a>-->
                                <a class="last" href="/Event/brandPublicity.aspx#safty">最佳风控奖</a>
                            </span>
              <span class="span-b">
                                <a href="/Content/lawyer.aspx">金诚同达律师所</a>
                                <a href="/Content/originaldebtor.aspx">原始债务人</a>
                                <a class="last" href="/Content/trusteeship.aspx">第三方支付</a>
                            </span>
            </div>
          </li>
          <li class="menu-box">
            <div class="link-box">
              <a class="link-a" href="javascript:;">关于我们<b></b></a>
            </div>
            <div class="content-us sub-menu on clearfix">
              <span class="span-a">
                                <a href="/Content/About.aspx#a">公司介绍</a>
                                <a href="/Event/chairman.aspx">董事长介绍</a>
                                <a href="/Content/About.aspx#b">核心团队</a>
                                <a class="last" href="/Content/About.aspx#c">专家顾问</a>
                            </span>
              <span class="span-b">
                                <a href="/Content/news.aspx">集团新闻</a>
                                <a href="/Content/course.aspx">发展历程</a>
                                <a href="/Content/honor.aspx">荣誉资质</a>
                                <a class="last" href="/Event/brandPublicity.aspx#video">媒体报道</a>
                            </span>
              <span class="span-c">
                                <a href="/Content/Contact.aspx">联系我们</a>
                                <a href="/Content/teamactive.aspx">员工风采</a>
                                <a class="last" href="/Content/office.aspx">办公环境</a>
                            </span>
            </div>
          </li>
          <li class="my-account"><a class="link-a" href="/Account/FundDetails.aspx">我的账户</a></li>
        </ul>
      </div>
    </div>
  </div>
